<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{'EVENTS' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list #scheduleList>
        <ion-item-sliding *ngFor="let event of events" #slidingItem>
            <ion-item href="{{ event.url }}">
                <ion-thumbnail slot="start">
                    <img src="{{ event.thumbnail ? event.thumbnail : './assets/img/na-logo-placeholder.png'}}">
                </ion-thumbnail>
                <ion-label>
                    <h3>{{ event.event_name }}</h3>
                    <p style="vertical-align: middle;">
                        <ion-icon name="calendar-outline" slot="start" style="font-size:18px; vertical-align: top;"></ion-icon>
                        {{ event.event_start_date | date:"dd. MMM yyyy hh:mm" }}
                    </p>
                    <p style="vertical-align: middle;">
                        <ion-icon name="location-outline" slot="start" style="font-size:18px; vertical-align: top;"></ion-icon>
                        {{ event.location_town }}
                    </p>
                </ion-label>
            </ion-item>
        </ion-item-sliding>
    </ion-list>

</ion-content>
