<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>{{'COMING_SOON' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-card-title>{{'COMING_SOON' | translate}}</ion-card-title>
            <ion-item text-wrap>
                {{'COMING_SOON_BODY' | translate}}
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
