<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{'AUDIOBOOKS' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let book of books; trackBy: trackById" [color]="rowColor(book)"
            [routerDirection]="'root'" [routerLink]="book.route">
            <ion-thumbnail slot="start">
                <img [src]="book.cover">
            </ion-thumbnail>
            <ion-label class="ion-text-wrap">
                <h3>{{ book.titleKey | translate }}</h3>
                <p style="vertical-align: middle; color:#888888;">
                    <ion-icon name="time-outline" slot="start" style="font-size:18px; vertical-align: top;"></ion-icon>
                    {{ book.durationLabel }}
                </p>
                <ion-progress-bar *ngIf="progress(book) as bar" [value]="bar.percent || 0"></ion-progress-bar>
                <p *ngIf="progress(book) as bar">
                    <ion-note color="primary">{{ bar.label }}</ion-note>
                </p>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>
