<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>
                {{'CONTACT' | translate}}
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card *ngIf="naApproved==false">
        <ion-card-content>
            <ion-card-title>Denne app er [endnu] ikke godkendt!</ion-card-title>
            <br/>
            Dette er en prøveversion. Indtil den er blevet godkendt af RSK, bør den ikke tages i brug for alvor.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-card-title>Kendte fejl og mangler</ion-card-title>
            <ul>
                <li>
                    Mødelisterne skal skjule midlertidigt lukkede møder, ligesom vi gør på hjemmesiden.
                </li>
                <li>
                    Tider skal vises i 24-timers format, ikke AM/PM.
                </li>
                <li>
                    Billedet af dagens tekst lader ikke brugeren zoome ind på en Android.
                </li>
            </ul>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-card-title>&AElig;ndringer til m&oslash;delisten</ion-card-title>
            <br/>
            <ion-button expand="block" (click)="openLink(meetinglistServantLink)">Skriv til m&oslash;delisteansvarlig</ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-card-title>Narcotics Anonymous p&aring; nettet</ion-card-title>
            <br/>
            <ion-button expand="block" (click)="openLink(fbGroupLink)">nadanmark.dk</ion-button>
            <ion-button expand="block" (click)="openLink(bmltLink)">na.org</ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-card-title>Om denne app</ion-card-title>
            <br />
            <ion-button expand="block" (click)='openLink(sourceCodeLink)'>Kildekode</ion-button>
            <ion-button expand="block" (click)='openLink(sourceBugs)'>Fejlrapporter</ion-button>
            <br />
            Buildtype: {{currentConfiguration}}<br />
            Version: {{currentVersion}}
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-card-title>Det med sm&aring;t</ion-card-title>
            <br/>
            NA-logoet er et registreret varem&aelig;rke og brugt i overstemmelse med Fellowship Intellectual Property Trust (FIPT).
        </ion-card-content>
    </ion-card>
</ion-content>