<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>
                {{'CONTACT' | translate}}
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card>
        <ion-card-content>
            <ion-card-title>&AElig;ndringer til m&oslash;delisten</ion-card-title>
            <ion-list>
                <ion-item text-wrap>
                    <ion-icon name="mail" item-left></ion-icon>
                    <ion-button (click)="openLink(meetinglistServantLink)">Skriv til m&oslash;delisteansvarlig</ion-button>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-card-title>Narcotics Anonymous p&aring; nettet</ion-card-title>
            <ion-list>
                <ion-item text-wrap>
                    <ion-icon name="globe" item-left></ion-icon>
                    <ion-button (click)="openLink(fbGroupLink)">nadanmark.dk</ion-button>
                </ion-item>
                <ion-item text-wrap>
                    <ion-icon name="globe" item-left></ion-icon>
                    <ion-button (click)="openLink(bmltLink)">na.org</ion-button>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-card-title>Om denne app</ion-card-title>
            <ion-list>
                <ion-item text-wrap>
                    <ion-icon name="globe" item-left></ion-icon>
                    <ion-button (click)='openLink(sourceCodeLink)'>Kildekode</ion-button>
                </ion-item>
                <ion-item text-wrap>
                    <ion-icon name="globe" item-left></ion-icon>
                    <ion-button (click)='openLink(sourceBugs)'>Fejlrapporter</ion-button>
                </ion-item>
                <ion-item text-wrap>
                    Buildtype: {{currentConfiguration}}<br />
                    Version: {{currentVersion}}
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>



    <ion-card>
        <ion-card-content>
            <ion-card-title>Det med sm&aring;t</ion-card-title>
            <ion-list>
                <ion-item text-wrap>
                    NA-logoet er et registreret varem&aelig;rke og brugt i overstemmelse med Fellowshop Intellectual Property Trust (FIPT).
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>