<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{'SPEAKS' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list #scheduleList>
        <ion-item-group *ngFor="let event of events">
            <!--[hidden]="group.hide"-->
            <ion-item-divider sticky>
                <ion-label>
                    {{event.title}}
                </ion-label>
            </ion-item-divider>
            <ion-item-sliding *ngFor="let speak of event.speaks" #slidingItem>
                <ion-item>
                    <ion-label>
                        <!-- <div *ngIf="recording.languages" class="recording_meta">
                            {{'LANGUAGE(S)' | translate}}:
                            <span *ngFor="let language of recording.languages">
                                {{language.name | translate}}
                            </span>
                        </div> -->
                        <!-- <div *ngIf="recording.tags" class="recording_meta">
                            {{'TAGS' | translate}}:
                            <span *ngFor="let tag of recording.tags">
                                {{tag.name | translate}}
                            </span>
                        </div> -->
                            <ion-button size="default" class="ion-text-wrap speak-button" expand="block" (click)="openWithInAppBrowser(speak.audioUrl)">
                                <ion-ripple-effect></ion-ripple-effect>
                                {{ speak.name }} - {{ speak.location }} - {{ speak.year }}
                            </ion-button>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>
        </ion-item-group>
    </ion-list>

</ion-content>
