<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{'GRC' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-item>
    <ion-select [(ngModel)]="selectedReading" (ionChange)="showReading(selectedReading)" interface="popover" placeholder="V&aelig;lg venligst">
        <ion-select-option *ngFor="let selectedReading of readings" [value]="selectedReading">{{selectedReading.title}}</ion-select-option>
    </ion-select>
</ion-item>

<ion-content>
    <app-pdf-viewer [pdfPath]="selectedReading.fileName"></app-pdf-viewer>
</ion-content>
