ion-content.selected-reading-0::part(background), ion-content.selected-reading-0 ion-card
{
    background-color: #9AD9E8;
}

ion-content.selected-reading-1::part(background), ion-content.selected-reading-1 ion-card
{
    background-color: #F8E937;
}

ion-content.selected-reading-2::part(background), ion-content.selected-reading-2 ion-card
{
    background-color: #F0E4AF;
}

ion-content.selected-reading-3::part(background), ion-content.selected-reading-3 ion-card
{
    background-color: #FFFFFF;
}

ion-content.selected-reading-4::part(background), ion-content.selected-reading-4 ion-card
{
    background-color: #E0DAD8;
}

ion-content.selected-reading-5::part(background), ion-content.selected-reading-5 ion-card
{
    background-color: #55CC80;
}

ion-content.selected-reading-6::part(background), ion-content.selected-reading-6 ion-card
{
    background-color: #D7B7D6;
}