<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{'DATETIME' | translate}}
        </ion-title>
    </ion-toolbar>
    <ion-toolbar class="profile-toolbar">
        <ion-select class="profile-select" [(ngModel)]="activeProfile" okText="Vælg" cancelText="Afbryd" *ngIf="refreshed">
            <ion-select-option *ngFor="let profile of profiles; index as i" value="{{ i }}">
                {{ profile.name }}
            </ion-select-option>
        </ion-select>
        <ion-buttons class="profile-buttons" slot="end">
            <ion-button (click)="addProfile()" class="profile-button" fill="solid" size="small" color="success">
                <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="editProfile()" class="profile-button" fill="solid" size="small" color="primary">
                <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteProfile()" class="profile-button" fill="solid" size="small" color="danger">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label>{{'ENTERCLEANDATE' | translate}}: </ion-label>
        <ion-datetime *ngIf="profiles[parseInt(activeProfile)]"
                      displayFormat="DD MMM YYYY"
                      [monthShortNames]="monthShortNames"
                      [monthNames]="monthNames"
                      [cancelText]="cancelText"
                      [doneText]="doneText"
                      [max]="maxDate"
                      [(ngModel)]="profiles[parseInt(activeProfile)].cleandate"
                      (ionChange)=getCleanTime()>
        </ion-datetime>
    </ion-item>

    <div *ngIf="tag != 'none'">
        <ion-card>
            <ion-card-header>{{'BIRTHDAY' | translate}}</ion-card-header>
            <ion-card-content>
                <h1>{{ tagTime }} {{ tag | translate }}</h1>
                <ion-img class="keytag-image" [src]='keytagImage'></ion-img>
            </ion-card-content>
        </ion-card>
    </div>

    <div>
        <div *ngFor="let group of cleanTimeElements; last as isLast">
            <div *ngFor="let element of group">
                <ion-card *ngIf="element === 'days1'">
                    <ion-card-header>{{'CLEANTIMEINDAYS' | translate }}</ion-card-header>
                    <ion-card-content>
                        <h1>{{ cleanTimeInDays1 }} {{ days | translate}}</h1>
                    </ion-card-content>
                </ion-card>

                <ion-card *ngIf="element === 'months1'">
                    <ion-card-header>{{'CLEANTIMEINMONTHS' | translate }}</ion-card-header>
                    <ion-card-content>
                        <h1>{{ cleanTimeInMonths1 }} {{ months | translate}}</h1>
                    </ion-card-content>
                </ion-card>

                <ion-card *ngIf="element === 'years1'">
                    <ion-card-header>{{'CLEANTIMEINYEARS' | translate }}</ion-card-header>
                    <ion-card-content>
                        <h1>{{ cleanTimeInYears1 }}&nbsp;{{ years | translate}}</h1>
                    </ion-card-content>
                </ion-card>

                <ion-card *ngIf="element === 'days2'">
                    <ion-card-header>{{'CLEANTIMEINDAYS' | translate }}</ion-card-header>
                    <ion-card-content>
                        <h1>{{ cleanTimeInDays2 }} {{ days | translate}}</h1>
                    </ion-card-content>
                </ion-card>
            
                <ion-card *ngIf="element === 'months2'">
                    <ion-card-header>{{'CLEANTIMEINMONTHS' | translate }}</ion-card-header>
                    <ion-card-content>
                        <h1>{{ cleanTimeInMonths2 }}&nbsp;{{ months | translate}}</h1>
                    </ion-card-content>
                </ion-card>

                <ion-card *ngIf="element === 'days3'">
                    <ion-card-header>{{'CLEANTIMEINDAYS' | translate }}</ion-card-header>
                    <ion-card-content>
                        <h1>{{ cleanTimeInDays3 }} {{ days | translate}}</h1>
                    </ion-card-content>
                </ion-card>
            </div>
            <ion-row class="ion-justify-content-center" *ngIf="!isLast">
                <ion-col>
                    <div class="ion-text-center">
                        <b>- {{ 'OR' | translate}} -</b>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>

</ion-content>
