<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{'DATETIME' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label>{{'ENTERCLEANDATE' | translate}}: </ion-label>
        <ion-datetime displayFormat="DD MMM YYYY"
                      [monthShortNames]="monthShortNames"
                      [monthNames]="monthNames"
                      [cancelText]="cancelText"
                      [doneText]="doneText"
                      [max]="maxDate"
                      [(ngModel)]="myDate"
                      (ionChange)=getCleanTime()>
        </ion-datetime>
    </ion-item>

    <div *ngIf="tag != 'none'">
        <ion-card>
            <ion-card-header>{{'BIRTHDAY' | translate}}</ion-card-header>
            <ion-card-content>
                <h1>{{ tagTime }} {{ tag | translate }}</h1>
                <ion-img class="keytag-image" [src]='keytagImage'></ion-img>
            </ion-card-content>
        </ion-card>
    </div>

    <ion-card>
        <ion-card-header>{{'CLEANTIMEINDAYS' | translate }}</ion-card-header>
        <ion-card-content>
            <h1>{{ cleanTimeInDays1 }} {{ days | translate}}</h1>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>{{'CLEANTIMEINMONTHS' | translate }}</ion-card-header>
        <ion-card-content>
            <h1>{{ cleanTimeInMonths1 }} {{ months | translate}}</h1>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>{{'CLEANTIMEINYEARS' | translate }}</ion-card-header>
        <ion-card-content>
            <h1>{{ cleanTimeInYears1 }}&nbsp;{{ years | translate}}</h1>
        </ion-card-content>
    </ion-card>

    <ion-row class="ion-justify-content-center">
        <ion-col>
            <div class="ion-text-center">
                <b>- {{ 'OR' | translate}} -</b>
            </div>
        </ion-col>
    </ion-row>

    <ion-card>
        <ion-card-header>{{'CLEANTIMEINDAYS' | translate }}</ion-card-header>
        <ion-card-content>
            <h1>{{ cleanTimeInDays2 }} {{ days | translate}}</h1>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>{{'CLEANTIMEINMONTHS' | translate }}</ion-card-header>
        <ion-card-content>
            <h1>{{ cleanTimeInMonths2 }}&nbsp;{{ months | translate}}</h1>
        </ion-card-content>
    </ion-card>

    <ion-row class="ion-justify-content-center">
        <ion-col>
            <div class="ion-text-center">
                <b>- {{ 'OR' | translate}} -</b>
            </div>
        </ion-col>
    </ion-row>

    <ion-card>
        <ion-card-header>{{'CLEANTIMEINDAYS' | translate }}</ion-card-header>
        <ion-card-content>
            <h1>{{ cleanTimeInDays3 }} {{ days | translate}}</h1>
        </ion-card-content>
    </ion-card>

</ion-content>
