<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{'HOME' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-center" style="padding:0 20px;">
        <h1>{{'HOME_TITLE' | translate}}<br />{{'HOME_MESSAGE' | translate}}</h1>
    </div>
    <br>
    <ion-menu-toggle auto-hide="false">
        <ion-img class="center" src="./assets/img/NALogo.svg"></ion-img>
    </ion-menu-toggle>
    <br>
    <div class="ion-text-center" style="padding:0 20px;">
        <h4>{{'HOME_MESSAGE_2' | translate}}<br />{{'HOME_MESSAGE_3' | translate}}</h4>
    </div>
</ion-content>
